.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: medium;
}

hr.mainBreaker {
  border-color: #000000;
  border-width: 5px 0;
}

hr.subBreaker {
  border-color: #00d8ff;
  border-width: 3px 0;
}

hr.subSubBreaker {
  border-color: #00d8ff;
  border-width: 1px 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
